
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vidu04</title>
</head>
<body>
    <div>
        @ViewData["str"]
    </div>
</body>
</html>














