@{    Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vidu02</title>
</head>
<body>
    <div>
        <h3>@ViewBag.Title</h3>
        <hr style="margin-top:0; margin-bottom:0" />
        <p style="text-align: justify; margin-top: 0; margin-bottom: 3px" >@ViewBag.Content</p>
        <div>
            <table border="1" rules="all" cellpadding="5" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ lót</th>
                        <th>Tên</th>
                        <th>Mã sinh viên</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int i = 0; i < 10; i++)
                        {
                            <tr>
                                <td>1</td>
                                <td>Nguyễn Hoàng</td>
                                <td>Anh</td>
                                <td>2361030001</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>
